.generate-ticket-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .common-btn {
    background-color: rgb(141, 190, 134);
    color: black;
  }
}
.activity-log-tickets {
  li {
    &::before {
      flex: 0;
    }
  }
}

.closed-ticket {
  width: fit-content;
  padding: 9px 9px 9px 9px;
  background-color: rgba(220, 53, 69, 1) !important;
}
